body {
  font-size: 15px;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: #f2f2f2;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.background {
  margin: 10% 20%;
}

.sedan-div {
  background-color: #e38826;
  width: 325px;
  height: 475px;
}

.sedan-text {
  padding: 50px 30px 30px 50px;
}

.suv-div {
  background-color: #006970;
  width: 325px;
  height: 475px;
  position: relative;
  left: 325px;
  bottom: 475px;
}

.suv-text {
  padding: 50px 30px 30px 50px;
}

.luxury-div {
  background-color: #004241;
  width: 325px;
  height: 475px;
  position: relative;
  left: 650px;
  bottom: 950px;
}

.luxury-text {
  padding: 50px 30px 30px 50px;
}